@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css');
@import url('./edxchangeClass.css');
@import url('./edx-quasar-reset.css');
@import url('./edx.css');

:root {
  --blue: #3f80ea;
  --light-blue: #538dea49;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #d9534f;
  --orange: #fd7d14b9;
  --yellow: #e5a54b;
  --green: #4bbf74c0;
  /*--green: #74b100;*/
  --excel-green: #1d6f42;
  --teal: #67981a;
  --cyan: #0583c5;
  --white: #fff;
  --light-white: #ced4da;
  --gray: #999999;
  --gray-dark: #343a40;
  --primary: #ff5a5f;
  --secondary: #495057;
  --success: #67981a;
  --info: #3f93f3;
  --warning: #ffba00;
  --danger: #ff0000;
  --light: #f0f0f0;
  --dark: #000;
  --white: #fff;
  --gray: #999999;
  --darker-light: #cccccc;
  --dark-red: #cc0000;
  --lighter-dark: #262626;
  --gray-01: #e8edef;
  --gray-02: #f5f5f5;
  --gray-03: #eeeeee;
  --gray-04: #eef1f2;
  --gray-05: #ecf0f1;
  --gray-06: #f0f2f3;
}


/* app global css */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Global styles for refactor  */
.q-table__title {
  margin-left: -28px;
  margin-top: .75rem;
  padding: 2px 10px 2px 25px;
  background: #e0e0e0;
  color: #616161;
  font-size: 1.4rem;
  position: relative;
  border-radius: 3px 5px 5px 0;
}

.q-table__title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: #bebebe;
  border-width: 9px 0 0 11px;
}

.heading-top {
  margin-left: -28px;
  padding: 2px 10px 2px 25px;
  background: #e0e0e0;
  color: #616161;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  border-radius: 3px 5px 5px 0;
}

.q-table__top.relative-position.row.items-center .q-table__control:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.tab-panels-parent {
  overflow: inherit;
}
.tab-panels-parent .scroll {
  overflow: inherit;
}
.tab-panels-parent .q-tab-panel {
  padding: 0;
}

/* Reset  */
.q-table__container.q-table--horizontal-separator.column.no-wrap.q-table__card.q-table--no-wrap {
  margin-top: 0;
}

.edx-header-parent {
  position: relative;
  height: 45px;
}

span.edx-header-text {
  font-size: 1.45rem;
  padding: .5rem 1.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  box-shadow: -1px -1px 2px rgba(0,0,0,0.2);
  z-index: 4;
  position: absolute;
}

.bordered-box {
  border: 1px solid #bcbcbc;
  padding: 1rem;
  border-radius: .3rem;
}


/* .q-tab-panel {
  padding: 0 !important;
}

.scroll {
  overflow: inherit !important;
} */

.table-text {

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  height: 40px;

}

.w-100 {
  width: 100%;
}

.inline-span {
  height: 34px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
}


